
  p {
    
    text-decoration:underline;
    
  }

    h1 {
      color: purple;
    }
      
      h5 {
        color: red;
      }
     body {
       background-color:#7CFC00;
      }
.cursive {
 font-family:cursive ;
}

#title {
 color:purple
   font-family: Arial;
}
  
body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

