#article-title {
  font-family: cursive;
  text-transform: capitalize;
}
  p {
    
    text-decoration:underline
    
  }

    h1 {
      color: purple;
    }
      
      h5 {
        color: red;
      }
     body {
       background-color:#7CFC00
      }
  
  
